<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Responsive Portfolio Template">
    <meta name="author" content="Suvrat Jain">
    <title>Responsive Bootstrap Template for Portfolio</title>
    <!-- Bootstrap core CSS -->
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous"> 
  </head>
  <body>
<div class=" splash" id="splash">
  <div class="container">
    <img src="https://s-media-cache-ak0.pinimg.com/736x/71/9e/59/719e59481d2be40a77ab6c3386fc0a45--photoshop-illustrator-illustrator-tutorials.jpg" alt="Portrait of Mr. Roboto" class="profile-image"> 
    <h1>HELLO!</h1> 
    <h1 class="intro-text"><span class="lead" id="typed">I am a Jagdish Patil </span></h1>
    <span class="continue"><a href="#about"><i class="fa fa-angle-down"></i></a></span>
  </div>
</div>
        <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>About Me</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-lg-offset-2">
                    <p class="content-text" style="text-align:justify;">Hey there! I am a junior software developer based in Pune   , India. I work with some of the popular front end technologies to create beautiful websites that get noticed. I seek experience to gain more knowledge in the web development field.
                    </p>
                </div>
                <div class="col-lg-4">
                    <p class="content-text">If you are in need of a beautiful simple website, I'm your guy. I look forward to talking to you soon!</p>
             </div>
                <div class="col-lg-8 col-lg-offset-2 text-center contact-button">
                    <a  routerLink="/contact" class="btn btn-lg btn-outline">
                        <i class="fa fa-envelope"></i> Contact Me                    </a>
                </div>
            </div>
        </div>
    </section>
<!-- Portfolio -->
    <div class="container-fluid portfolio-container-holder content-section "  id="portfolio">
		<div class="portfolio-container container">
			<h1 class="text-center" >My Portfolio</h1>
      <hr class="star-portfolio">
			<div class="row">
				
				<div class="col-md-6 col-xs-12 col-sm-6 portfolio-card-holder">
					<div class=" portfolio-card " routerLink="/dashbord" >
						<img src="https://cdn2.hubspot.net/hubfs/145335/responsive-vs-adaptive-design-compressor.jpg" alt="Portfolio" class="img-responsive portfolio-img">

						<div class="portfolio-img-desc">
						 
						</div>			
					</div>
				</div>
                
				 
				
			</div>
		</div>
	</div>
<!-- Contact form -->
	 <app-contact></app-contact>
    
    <!-- Bootstrap core JavaScript -->
    <script src="//code.jquery.com/jquery-1.10.2.min.js"></script>
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.2/js/bootstrap.min.js"></script>
  </body>

