 <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Responsive Portfolio Template">
    <meta name="author" content="Suvrat Jain">
    <title>Responsive Bootstrap Template for Portfolio</title>
    <!-- Bootstrap core CSS -->
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous"> 
  </head>
  <body>
 
    
  
<!-- Contact form -->
	<div class="container-fluid contact-me-container content-section" id="contact">
		<div class="container">
			<h1 class="intro-text text-center">Contact Me</h1>
      <hr class="star-light">
			<div class="row">
				<div class="col-sm-12 col-md-12">
					<div class="form-group">
						<div class="input-group">
							<div class="input-group-addon"><i class="fa fa-user"></i></div>
							<input type="text" class="form-control" id="name" placeholder="Name">
						</div>
					</div>
					
					<div class="form-group">
						<div class="input-group">
              <div class="input-group-addon"><i class="fa fa-at"></i></div>
							<input type="text" class="form-control" id="email" placeholder="Email ID">
						</div>
					</div>

					<div class="form-group">
						<div class="input-group">
							<div class="input-group-addon"><i class="fa fa-phone"></i></div>
							<input type="text" class="form-control" id="phone" placeholder="Phone Number">
						</div>
					</div>
				</div>

				<div class="col-sm-12">
					<textarea class="form-control" rows="5" placeholder="Message"></textarea>
				</div>
			</div>

			<div class="text-center">
				<button class="btn btn-default submit-button btn-lg btn-primary"><i class="fa fa-paper-plane"></i> Send</button>
			</div>
		</div>
	</div>
<!-- Footer -->
	<footer>
		<div class="container footer-container">
			<div class="row footer-row">
				<div class="col-xs-12 col-sm-6 col-md-6 text-center">
			<h4 class="text-center">Find me here</h4>
				 	<address>
					 	<strong><i ></i> Kadalge Kh </strong><br>Tal-Chandgad, Dist-Kolhapur,<br>Maharashtra 416507 <br> 

                        <a href="https://maps.app.goo.gl/vt9aAHnqPxsT4uzT9">  <i class="fa fa-location-arrow"></i> Location</a><br>
					 	<a  class="tel" href="tel:9999988888" type="tel"><i class="fa fa-mobile"></i><span> +91 7448192722</span></a>
                        
					</address>
                    
				</div>

				<div class="col-xs-12 col-md-6 col-sm-6 social-section">
					<div class="text-center">
						<h4 class="text-center">Also, I can be found here</h4>
				<div class="text-center social-buttons">
                    
                    <a href="https://rb.gy/aqh39j" class="btn btn-default btn-lg social-button link-codepen"><i class="fa fa-whatsapp"></i>
                    </a>
                    
                    <a href= "https://instagram.com/jagdishpatil7481?utm_source=qr&igshid=MzNlNGNkZWQ4Mg%3D%3D"class="btn btn-default btn-lg social-button link-instagram"><i class="fa fa-instagram"></i>
                    </a>
                    
                    <a href="https://www.facebook.com/profile.php?id=100011840529101" class="btn btn-default btn-lg social-button link-facebook"><i class="fa fa-facebook"></i>
                    </a>
                                      <a href="https://www.linkedin.com/in/jagdish-patil-23712430b/" class="btn btn-default btn-lg social-button link-linkedin"><i class="fa fa-linkedin"></i>
                                      </a>
                                      <a href="#" class="btn btn-default btn-lg social-button link-twitter"><i class="fa fa-telegram"></i>
                                      </a>
					</div><hr class="footer-hr">
            <h4 class="author">Made with <i class="fa fa-heart"></i> by <strong>Jagdish Patil</strong></h4>
					</div>
				</div>
			</div>
		</div>
	</footer>

    
    <!-- Bootstrap core JavaScript -->
    <script src="//code.jquery.com/jquery-1.10.2.min.js"></script>
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.2/js/bootstrap.min.js"></script>
  </body>


