<!-- <p> skills works!</p>
<br style="color: white;">
<img style="background-color: white;"   src="https://raw.githubusercontent.com/devicons/devicon/master/icons/css3/css3-original-wordmark.svg" alt="css3" width="40" height="40">
<img  style="background-color: white;"  src="https://raw.githubusercontent.com/devicons/devicon/master/icons/html5/html5-original-wordmark.svg" alt="html5" width="40" height="40">
<img  style="background-color: white;"  src="https://raw.githubusercontent.com/devicons/devicon/master/icons/javascript/javascript-original.svg" alt="javascript" width="40" height="40">
<img  style="background-color: white;"   src="https://raw.githubusercontent.com/devicons/devicon/master/icons/typescript/typescript-original.svg" alt="typescript" width="40" height="40">
<img  style="background-color: white;"  src="https://angular.io/assets/images/logos/angular/angular.svg" alt="angular" width="40" height="40">
<img  style="background-color: white;"  src="https://raw.githubusercontent.com/devicons/devicon/master/icons/bootstrap/bootstrap-plain-wordmark.svg" alt="bootstrap" width="40" height="40">
<img  style="background-color: white;" src="https://www.vectorlogo.zone/logos/getpostman/getpostman-icon.svg" alt="postman" width="40" height="40"> -->
<script src="https://cdn.jsdelivr.net/npm/swiffy-slider@1.6.0/dist/js/swiffy-slider.min.js" crossorigin="anonymous" defer></script>
<link href="https://cdn.jsdelivr.net/npm/swiffy-slider@1.6.0/dist/css/swiffy-slider.min.css" rel="stylesheet" crossorigin="anonymous">

<div class="container mt-5 mb-5">
    <div class="row no-gutters">
        <div class="col-md-4 col-lg-4"><img src="https://images.pexels.com/photos/2325717/pexels-photo-2325717.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" ></div>
        <div class="col-md-8 col-lg-8">
            <div class="d-flex flex-column">
                <div class="d-flex flex-row justify-content-between align-items-center p-5 bg-dark text-white">
                    <h1 class="display-5"><b>SKILLS</b></h1><i class="fa fa-facebook"></i><i class="fa fa-google"></i><i class="fa fa-youtube-play"></i><i class="fa fa-dribbble"></i><i class="fa fa-linkedin"></i></div>
                <div class="p-3 bg-black text-white">
                     <h4> FRONT-END TECHNOLOGIES</h4>
                </div>
                <!-- <div class="d-flex flex-row text-white">
                    <div class="p-4 bg-primary text-center skill-block">
                        <img style="background-color: white;"   src="https://raw.githubusercontent.com/devicons/devicon/master/icons/css3/css3-original-wordmark.svg" alt="css3" width="40" height="100px">
                        <h4>90%</h4>
                        <h6>Bootstrap</h6>
                    </div>
                    <div class="p-3 bg-success text-center skill-block">
                        <h4>70%</h4>
                        <h6>Jquery</h6>
                    </div>
                    <div class="p-3 bg-warning text-center skill-block">
                        <h4>80%</h4>
                        <h6>HTML</h6>
                    </div>
                    <div class="p-3 bg-danger text-center skill-block">
                        <h4>75%</h4>
                        <h6>PHP</h6>
                    </div>
                </div> -->
                <div class="swiffy-slider slider-item-show3 slider-item-reveal slider-nav-dark slider-nav-outside-expand">
                    <ul class="slider-container py-4" id="slider2">
                        <li>
                            <div class="card shadow h-40">
                                <div class="ratio ratio-1x1">
                                    <img src="https://raw.githubusercontent.com/devicons/devicon/master/icons/css3/css3-original-wordmark.svg"  class="card-img-top" loading="lazy" alt="...">
                                </div>
                                
                            </div>
                        </li>
                        <li>
                            <div class="card shadow h-40">
                                <div class="ratio ratio-1x1">
                                    <img src="https://raw.githubusercontent.com/devicons/devicon/master/icons/html5/html5-original-wordmark.svg" class="card-img-top" loading="lazy" alt="...">
                                </div>
                                
                            </div>
                        </li>
                        <li>
                            <div class="card shadow h-40">
                                <div class="ratio ratio-1x1">
                                    <img src="https://raw.githubusercontent.com/devicons/devicon/master/icons/javascript/javascript-original.svg" class="card-img-top" loading="lazy" alt="...">
                                </div>
                                
                            </div>
                        </li>
                        <li>
                            <div class="card shadow h-40">
                                <div class="ratio ratio-1x1">
                                    <img src="https://raw.githubusercontent.com/devicons/devicon/master/icons/typescript/typescript-original.svg" class="card-img-top" loading="lazy" alt="...">
                                </div>
                                
                            </div>
                        </li>
                        <li>
                            <div class="card shadow h-40">
                                <div class="ratio ratio-1x1">
                                    <img src="https://angular.io/assets/images/logos/angular/angular.svg" class="card-img-top" loading="lazy" alt="...">
                                </div>
                                
                            </div>
                        </li>
                        <li>
                            <div class="card shadow h-40">
                                <div class="ratio ratio-1x1">
                                    <img src="https://raw.githubusercontent.com/devicons/devicon/master/icons/bootstrap/bootstrap-plain-wordmark.svg"  class="card-img-top" loading="lazy" alt="...">
                                </div>
                                
                            </div>
                        </li>
                        <li>
                            <div class="card shadow h-40">
                                <div class="ratio ratio-1x1">
                                    <img src="https://www.vectorlogo.zone/logos/getpostman/getpostman-icon.svg" class="card-img-top" loading="lazy" alt="...">
                                </div>
                                
                            </div>
                        </li>
                        <li>
                            <div class="card shadow h-40">
                                <div class="ratio ratio-1x1">
                                    <img src="https://www.vectorlogo.zone/logos/git-scm/git-scm-icon.svg" class="card-img-top" loading="lazy" alt="...">
                                </div>
                               
                            </div>
                        </li>
                        <li>
                            <div class="card shadow h-40">
                                <div class="ratio ratio-1x1">
                                    <img src="https://raw.githubusercontent.com/devicons/devicon/master/icons/photoshop/photoshop-line.svg"  class="card-img-top" loading="lazy" alt="...">
                                </div>
                                
                            </div>
                        </li>
                    </ul>
                
                    <button type="button" class="slider-nav" aria-label="Go to previous"></button>
                    <button type="button" class="slider-nav slider-nav-next" aria-label="Go to next"></button>
                </div>  
                <br><br>
            </div>
            
        </div>
        
    </div>
</div>