

<section class="light">
	<div class="container py-2">
		<div class="h1 text-center text-dark" id="pageHeaderTitle">My Angular Projects</div>

		<article class="postcard light blue">
			<a class="postcard__img_link" href="#">
				<img class="postcard__img" src="assets\hotel mananment.png" alt="Image Title" />
			</a>
			<div class="postcard__text t-dark">
				<h1 class="postcard__title blue"><a href="#">HOTEL MANAGEMENT</a></h1>
				<div class="postcard__subtitle small">
					<time datetime="2020-05-25 12:00:00">
						<i class="fas fa-calendar-alt mr-2"></i>Mon, May 25th 2023
					</time>
				</div>
				<div class="postcard__bar"></div>
				<div class="postcard__preview-txt">The Angular Hotel Management System is a web-based
                    application designed to streamline and automate the operations
                    of a hotel. The system provides a user-friendly interface for
                    managing bookings, customer information, and staff activities.</div>
				<ul class="postcard__tagbox">
					<li class="tag__item" (click)="hotel()">Show GitHub Link</li>
				</ul>
				<main *ngIf="h" class="container">
		 
					<div class="input-group">
						<textarea class="form-control custom-control" rows="3" style="resize:none" #copyTarget readonly [value]="HotelBooking" ></textarea>     
						<span class="input-group-addon btn btn-primary" (click)="copyText()">Copy</span><span *ngIf="copied" class="copied">Copied!</span>
					</div>
				  </main>
			</div>
		</article>
		<article class="postcard light red">
			<a class="postcard__img_link" href="#">
				<img class="postcard__img" src="assets\wheather application.png" alt="Image Title" />	
			</a> 
			<div class="postcard__text t-dark">
				<h1 class="postcard__title red"><a href="#">WEATHER FORECAST APPLICATION</a></h1>
				<div class="postcard__subtitle small">
					<time datetime="2020-05-25 12:00:00">
						<i class="fas fa-calendar-alt mr-2"></i>Mon, jun 25th 2023
					</time>
				</div>
				<div class="postcard__bar"></div>
				<div class="postcard__preview-txt">Implement a location search feature allowing users to search for
                    weather information by city name. Display real-time weather
                    information for the selected location, including temperature,
                    weather conditions, and wind speed. Allow users to switch
                    between metric and imperial units for temperature, wind speed,
                    and other measurements.</div>
				<ul class="postcard__tagbox">
					<li class="tag__item" > <a href="https://melodic-bunny-793442.netlify.app/"> Link</a></li>
					<li class="tag__item" (click)="wheatherApp()">  Show GitHub Link</li>
					 
				</ul>
				<main *ngIf="w" class="container">
		 
					<div class="input-group">
						<textarea class="form-control custom-control" rows="3" style="resize:none" #copyTarget readonly [value]="Wheather" ></textarea>     
						<span class="input-group-addon btn btn-primary" (click)="copyText()">Copy</span><span *ngIf="copied" class="copied">Copied!</span>
					</div>
				  </main>
			</div>
		</article>
		<article class="postcard light green">
			<a class="postcard__img_link" href="#">
				<img class="postcard__img" src="assets\profileGIF-BeRCaKgk.gif" alt="Image Title" />
			</a>
			<div class="postcard__text t-dark">
				<h1 class="postcard__title green"><a href="#">MY PORTFOLIO</a></h1>
				<div class="postcard__subtitle small">
					<time datetime="2020-05-25 12:00:00">
						<i class="fas fa-calendar-alt mr-2"></i> July 25th 2023
					</time>
				</div>
				<div class="postcard__bar"></div>
				<div class="postcard__preview-txt">
					Creating an "About" section for a portfolio project in Angular involves detailing the information about the project itself, such as its goals, technologies used, and any notable achievements. This section provides context and background on the projects you've worked on.</div>
				<ul class="postcard__tagbox">
					
					<li class="tag__item btn" (click)="portFolio()"> Show GitHub Link</li>
					 
				</ul>
				<main *ngIf="p" class="container">
		 
					<div class="input-group">
						<textarea class="form-control custom-control" rows="3" style="resize:none" #copyTarget  readonly [value]="myPortFolio" ></textarea>     
						<span class="input-group-addon btn btn-primary" (click)="copyText()">Copy</span><span *ngIf="copied" class="copied">Copied!</span>
					</div>
				  </main>
			 
			</div>
		</article>
		 
	</div>
</section>
<div>
  </div>
  
 

  <section class="dark">
	<div class="container py-4">
		<h1 class="h1 text-center" id="pageHeaderTitle">Mini Project In HTML-CSS</h1>

		<article class="postcard dark blue">
			<a class="postcard__img_link" href="#">
				<img class="postcard__img" src="assets\Amazone sc.png" alt="Image Title" />
			</a>
			<div class="postcard__text">
				<h1 class="postcard__title blue"><a href="#">AMAZONE PAGE</a></h1>
				<div class="postcard__subtitle small">
				 
				</div>
				<div class="postcard__bar"></div>
				<div class="postcard__preview-txt"> Creating a basic Amazon-like product page using HTML and CSS involves structuring the HTML to include sections for the product image, title, price, description, and action buttons. The CSS will style these elements to make the page visually appealing.</div>
				<ul class="postcard__tagbox">
					<li class="tag__item" > <a href="https://fluffy-rugelach-6537c9.netlify.app/"> Link</a></li>
					<li class="tag__item" (click)="amazonePage()">Show GitHub Link</li>
					 
				</ul>
				<main *ngIf="a" class="container">
		 
					<div class="input-group">
						<textarea class="form-control custom-control" rows="3" style="resize:none" #copyTarget  readonly [value]="amazone" ></textarea>     
						<span class="input-group-addon btn btn-primary" (click)="copyText()">Copy</span><span *ngIf="copied" class="copied">Copied!</span>
					</div>
				  </main>

			</div>
		</article>
		<article class="postcard dark red">
			<a class="postcard__img_link" href="#">
				<img class="postcard__img" src="assets\tou tube.png" alt="Image Title" />	
			</a>
			<div class="postcard__text">
				<h1 class="postcard__title red"><a href="#">YouTube</a></h1>
				<div class="postcard__subtitle small">
 
				</div>
				<div class="postcard__bar"></div>
				<div class="postcard__preview-txt"> Creating a YouTube-like page using HTML and CSS involves structuring the page to include elements such as a video player, video title, description, and related videos. Here’s how you can set up a simple YouTube page layout.</div>
				<ul class="postcard__tagbox">
					<li class="tag__item" > <a href="https://silver-sfogliatella-013f3e.netlify.app/"> Link</a></li>
					<li class="tag__item" (click)="youtubePage()">Show GitHub Link</li>
					 
				</ul>
				<main *ngIf="y" class="container">
		 
					<div class="input-group">
						<textarea class="form-control custom-control" rows="3" style="resize:none" #copyTarget  readonly [value]="youtube" ></textarea>     
						<span class="input-group-addon btn btn-primary" (click)="copyText()">Copy</span><span *ngIf="copied" class="copied">Copied!</span>
					</div>
				  </main>
			</div>
		</article>
		<article class="postcard dark green">
			<a class="postcard__img_link" href="#">
				<img class="postcard__img" src="assets\login form.png" alt="Image Title" />
			</a>
			<div class="postcard__text">
				<h1 class="postcard__title green"><a href="#">Login Form</a></h1>
				<div class="postcard__subtitle small">
					 
				</div>
				<div class="postcard__bar"></div>
				<div class="postcard__preview-txt">Creating a login page with animations involves structuring the HTML to include a form with inputs for the username and password, and buttons for submitting the form. The CSS will style the form and include animations to make the login process visually appealing</div>
				<ul class="postcard__tagbox">
					<li class="tag__item" > <a href="https://dazzling-croissant-cdbfbf.netlify.app/"> Link</a></li>
					<li class="tag__item" (click)="loginpage()">Show GitHub Link</li>
					 
				</ul>
				<main *ngIf="l" class="container">
		 
					<div class="input-group">
						<textarea class="form-control custom-control" rows="3" style="resize:none" #copyTarget  readonly [value]="login" ></textarea>     
						<span class="input-group-addon btn btn-primary" (click)="copyText()">Copy</span><span *ngIf="copied" class="copied">Copied!</span>
					</div>
				  </main>
			</div>
		</article>
 
	</div>
</section>