<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="boxes">
        <div class="row">
            <div class="col-sm-6">
              <div class="card">
                <div class="card-body box1">
                   <h1 style="font-size: 40px;">HELLO..!</h1>
                   <h1>MY NAME IS <span>JAGDISH PATIL</span> </h1>
                   <div class="autowrite">
                    <h2> I am a Passionate <span> WEB DEVELOPER</span></h2>
                </div>
                <div class="btns">
                  <a href="https://github.com/jagdishpatil19"><button class="btn btn-primary mx-2">GITHUB</button></a>
                   <a href="https://www.linkedin.com/in/jagdish-patil-23712430b/"><button class="btn btn-primary mx-2">LINKDIN</button></a>
                  <a href="https://drive.google.com/file/d/1C7F6i3bYMZJ-n-THU-VuxAFURU6Xf6C8/view?usp=drive_link"><button class="btn btn-primary mx-2">RESUME</button></a> 
                 <button routerLink="/massage"  class="btn btn-primary mx-2">MASSAGE</button>
                </div>
                </div>
              </div>
            </div>
            <div class="col-sm-6">
              <div class="card">
                <div class="card-body image" style="max-height: 400px;">
                  
                </div>
              </div>
            </div>
          </div>
    </div>
    <span class="br"><br></span>
</body>
</html>

<app-skills></app-skills>
<app-project></app-project>
 